.text-box {
  position: relative;
  height: 50px;
  display: flex;
  align-items: center;
  background: #000;
  color: green;
  padding-left: 20px;
}

.hidden-char {
  opacity: 0;
}

.pointer {
  position: absolute;
  top: 16px;
  height: 1rem;
  background: green;
  animation: flicker 1s linear infinite;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    background: green;
  }
  100% {
    background: transparent;
  }
}